type:: [[Business function]]
source:: [[@Digital Systems Engineering Process Model Version: 1.0]]
documentation:: As stated in ISO/IEC/IEEE 15288, [6.4.9.1] The purpose of the Verification process is to provide objective evidence that a system or system element fulfils its specified requirements and characteristics.  See detailed description in the INCOSE Handbook v.4, page 83

-